// Importing Google font 'Inter' that seems to be most similar to demo
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// My fonts
$header-font: Times, 'Times New Roman', serif;
$list-font: 'Inter', sans-serif;

// Variabel to set input field and add button height
$input-height: 1.2rem;

// My animations
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes frame-bounce {
    0% {
        transform: translateY(-150%);
    } 
    100% { 
        transform: translateY(0);
    }
}
// Unused keyframes but I dont wanna remove this animation, can come to use later
// ##############################################################################
@keyframes elastic-bounce {
	0% {
		transform: translateY(-0%);
	}

	16% {
		transform: translateY(32.27%);
	}

	28% {
		transform: translateY(-13.12%);
	}

	44% {
		transform: translateY(4.63%);
	}

	59% {
		transform: translateY(-1.64%);
	}

	73% {
		transform: translateY(0.58%);
	}

	88% {
		transform: translateY(-0.2%);
	}

	100% {
		transform: translateY(0%);
	}

}
// ##############################################################################

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes task-fade-slide {
    0% {opacity: 0;
        transform: translateY(30%);
    }
    20% {
        opacity: 1;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}